<header class="container">
    <div class="container__altura">
        <img src="assets/logo.svg">
    </div>
    <div class="nav altura">
      <ul class="altura">
        <li class="container__altura"><a href="/list">Collections</a></li>
        <li class="container__altura"><a href="">About</a></li>
        <li class="container__altura"><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="container__imgs">
      <img src="assets/icon-cart.svg" i18n alt="cartd" class="cart" (click)="openCartModal()">
      <img src="assets/image-avatar.png" i18n alt="perfil" class="avatar">
    </div>  
</header>


<!-- <header>
  <div class="container">
    <div class="logo-section">
      <div class="store-info">
        <h1 i18n>{{ 'HEADER.TITLE' | translate }}</h1>
      </div>
    </div>
    <div class="navigation">
      <a routerLink="list" i18n> {{ 'HEADER.MENU1' | translate }}</a>
      <a routerLink="/men" i18n>{{ 'HEADER.MENU2' | translate }}</a>
      <a routerLink="/women" i18n>{{ 'HEADER.MENU3' | translate }}</a>
      <a routerLink="/about" i18n>{{ 'HEADER.MENU4' | translate }}</a>
      <a routerLink="/contact" i18n>{{ 'HEADER.MENU5' | translate }}</a>
    </div>
    <div class="user-actions">
      <img src="assets/icon-cart.svg" i18n alt="cartd" class="cart-icon" (click)="openCartModal()">
      <img src="assets/image-avatar.png" i18n alt="perfil" class="profile-image">
    </div>
  </div>
</header>
-->
